@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --primary-color: #7014a9;
  --secondary-color: #EADCF2;
  --tertiary-color: #cd7bff;
  --text: #505050;
  --footer: #373737;
}
html, body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif !important;
}

.bg-purple {
  background-color: var(--primary-color) !important;
}

.input-with-icon {
  position: relative;
  /* margin-top: 15px; */
}

.input-icon {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  z-index: 5;
}
.input-with-icon input {
  width: 100%;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  border: solid 1px #eee;
  border-radius: 3px;
  font-size: .8rem;
  padding: 13px 10px 13px 40px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-with-icon input:focus {
  /* position: relative; */
  border-color: var(--primary-color) !important;
  /* margin-top: 15px; */
}

.p-vertical {
  padding: 1rem 0;
}

.btn-login {
  background-color: var(--secondary-color) !important;
  color: var(--tertiary-color) !important;
  border: none !important;
  width: 100px;
  height: 45px;
  font-weight: 700;
}

.bg-tertiary {
  background-color: var(--secondary-color);
}

.bg-semi-seco {
  background-color: var(--secondary-color) !important;
  color: var(--tertiary-color) !important;
}

.text-purple {
  color: var(--tertiary-color) !important;
}
.text-tertiary {
  color: var(--tertiary-color);
}

.border-semi {
  border-color: #eee;
}

.w-1rem {
  width: 2.5rem;
}

ul {
  list-style-type: none;
}

.text-price {
  font-size: .9rem;
}

.card-price {
  background-color: #fff;
}

.width-28 {
    width: 28rem;
}

.grey-text {
    color: var(--text);
}

.weight-700 {
    font-weight: 700;
}

.h-18 {
    font-size: 1.8rem;
    line-height: 2rem;
}

.text-37 li a{
    color: var(--footer) !important;
}

.bg-violet {
    color: var(--primary-color) !important;
    font-weight: 700 !important;
    transition: all ease-out .5s;

}

.bg-violet:hover{
  background-color: var(--secondary-color) !important;
}

.footer-heading{
  font-size:20px !important;
  font-weight: 700;
}


.social:first-child {
  margin: 0 0 0 5px !important;
}
.social *{
  margin: 0 8px;
  font-size: 21px !important;
}

.social:last-child{
  margin: 0 5px 0 0 !important;
}

.social-2:first-child {
    margin: 0 0 0 5px !important;
  }
  .social-2 *{
    margin: 0 5px;
    font-size: 21px !important;
    color: #DA9FFF;
  }
  
  .social-2:last-child{
    margin: 0 5px 0 0 !important;
  }

@media (min-width: 970px) {
  .img-brand {
    justify-content: center;
  }
}
